/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/**
*  reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
	/* reset these in body, 
	*  Beacuse these propterties are inheritance 
	*/
	font-family: 'Lato', sans-serif;  
	font-weight: 400;
	font-size:  16px;
	line-height: 1.7;
	color: #777;

	padding: 30px;
}

.header {
	height: 95vh; /* 95% height of viewport height */
	background-image: linear-gradient(
		to right bottom,
		rgba(126, 213, 111, 0.8),
		rgba(40, 180, 131, 0.8)),   /* how to use linear-gradient */
	url(../img/hero.jpg);
	background-size: cover; /* contain vs cover */
	background-position: top;  /* top vs bottom vs center */
	position: relative;

	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%) /* */
}

.logo-box {
	position: absolute;
	top: 40px;
	left: 40px;
}

.logo {
	height: 35px;
}

.logo:hover {
	animation: moveInRight 10s ease-out;
}

.text-box {
	position: absolute;
	top: 50%;
	left: 50%; /* in relation with parent */
	transform: translate(-50%, -50%); /* in relation with element itself*/
	text-align: center; /* set inline and inline-block element to the center */
}

.heading-primary {
	color: #fff;
	text-transform: uppercase;

	backface-visibility: hidden;
	margin-bottom: 60px;
}

.heading-primary-main {
	display: block;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 35px;

	animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-in;

	/*
	animation-delay: 3s;
	animation-iteration-count: 3;
	*/
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	 
	80% {
		transform: translateX(10px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.heading-primary-sub {
	display: block;
	font-size: 20px;
	font-weight: 700px;
	letter-spacing: 17.4px;

	animation: moveInRight 1s ease-out;
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	80% {
		transform: translateX(-10px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translate(0)
	}
}

.btn:link,
.btn:visited {   /* initial state */
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 40px;
	border-radius: 100px;

	transition: all .2s;   /* animation */
	position: relative;
}

.btn:hover {  /* hover state */
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .2); /* x  y blur color */
}

.btn:active { /* click state */
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-white {
	background-color: #fff;
	color: #777;
}

.btn::after {
	content: "";
	display: inline-block;  /* pesudo element must set content and display */
	height: 100%;
	width: 100%; /* pesudo element like child of element, so the height and weight are compare to its parent */
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
}

.btn-white::after {
	background-color: white;
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.btn-animated {
	animation: moveInBottom .5s ease-out .75s;
	animation-fill-mode: backwards;
}
