.header {
	height: 95vh; /* 95% height of viewport height */
	background-image: linear-gradient(
		to right bottom,
		rgba($color-primary-light, 0.8),
		rgba($color-primary-dark, 0.8)),   /* how to use linear-gradient */
	url(../img/hero.jpg);
	background-size: cover; /* contain vs cover */
	background-position: top;  /* top vs bottom vs center */
	position: relative;

	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* */
    
	&__logo-box {
		position: absolute;
		top: 4rem;
		left: 4rem;
	}
	&__logo {
		height: 3.5rem;
	}
	
	&__logo:hover {
		animation: moveInRight 10s ease-out;
	}
	
	&__text-box {
		position: absolute;
		top: 50%;
		left: 50%; /* in relation with parent */
		transform: translate(-50%, -50%); /* in relation with element itself*/
		text-align: center; /* set inline and inline-block element to the center */
	}
}