.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1; // make the video under all other elements
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover; // make the element will fill the entire parent while still maintaining its apsect ratio, and the part that then don't fit the parent element will be simply clipped off, this is similar to having background size set to cover where it tries to cover the entire element with the image. object-fit is similar to that, but instead of working with background images, it works with HTML elements, or videos in this case. But of course it would work just the same with images
    }
}

