.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left; 
        // make the other element beside current element around it, 
        // only float element with setted width and height, this attr will work
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%); 
        
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%); // make current element be round
        transform: translate(-3rem);
    }
}